@model EditDoctorViewModel

@{
    ViewData["Title"] = "Update Doctor";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



<div class="card mt-2">
    <div class="card-header">
        <h3 class="card-title">Updating Doctor</h3>
    </div>
    <div class="card-body">
        <form asp-area="Admin" asp-controller="Doctors" asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ImageUrl" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="File" class="control-label"></label>
                <input type="file" asp-for="File" id="doctorimage" class="form-control" />
                <span asp-validation-for="File" id="fileerror" class="text-danger"></span>
                <div class="alert-danger" id="errordiv">
                    <span id="viewerror"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Bio" class="control-label"></label>
                <textarea asp-for="Bio" class="form-control" cols="3" rows="5"></textarea>
                <span asp-validation-for="Bio" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Update" id="save" class="btn btn-success" />
                <a asp-controller="Doctors" asp-action="index" class="btn btn-danger">Cancel</a>
            </div>
        </form>
    </div>
</div>
@section Scripts
{
    <partial name="_Validation" />

    <script>
        $(function () {
            $("#save").click(function () {
                if ($("#doctorimage").val() != "") {

                //check the file extention
                    var fileName = document.getElementById("doctorimage").value;
                    var extention = fileName.substr(fileName.lastIndexOf('.') + 1);
                    var validExtension = ['jpg', 'jpeg', 'png'];
                    if ($.inArray(extention, validExtension) == -1) {
                        $("#errordiv").fadeIn();
                        $("#fileerror").append("");
                        $("#fileerror").append("Please choose a valid extension");
                        return false;
                    }

                    //check the valid size
                    var fileSize = document.getElementById("doctorimage").files[0].siz / 1024 / 1024;
                    if (fileSize > 5) {
                        $("#errordiv").fadeIn();
                        $("#fileerror").append("");
                        $("#fileerror").append("The Image Size should not be more the 5 MB");
                        return false;
                    }

                }
            });
        });

    </script>
}
