@model IndexViewModel
@{
    ViewData["Title"] = "Blogs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="our_section layout_padding">
    <div class="container">
        <h1 class="our_text"><strong>OUR BLOGS</strong></h1>
        <p class="client_long_text">Check our Blogs</p>
        <div class="row padding_top_0">
            @foreach (var blog in Model.Blogs)
            {
                <div class="col-lg-4">
                    <div class="image_7"><a asp-controller="Blogs" asp-action="blogdetails" asp-route-id="@blog.ID"><img src="/images/blogs/@blog.Image"></a></div>
                    <h2 class="design_text">@blog.Title</h2>
                    <p class="fact_text">@blog.Description</p>
                </div>
            }
        </div>

    </div>
</div>

